.Footer {
  background: black;
  color: white;
}

.content-footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 36rem;
  margin: 0 auto;
  padding: 2.5rem 0;
  gap: 1rem;
}

.content-footer .title-footer-content {
  grid-column: span 3/ span 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content-footer .title-footer-content .title-footer {
  font-size: 1.125rem;
  font-weight: calc(1.75/125) ≈ 1.5556;
}

.content-footer .title-footer-content .subtitle-footer {
  font-size: 0.875rem;
  font-weight: calc(1.25 / 0.875) ≈ 1.4286;
  color: #6a7282;
}

.content-footer .logo-footer {
  grid-column: span 3/ span 3;
  display: grid;
  place-content: center;
}

.content-footer .logo-footer .logo-footer-content {
  width: auto;
  height: 80px
}

.content-footer .logo-footer .logo-footer-content .imagen-blur {
  fill: white;
  width: auto;
  height: 80px;
  position: absolute;
  margin: auto;
  filter: blur(8px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content-footer .logo-footer .logo-footer-content .imagen-blur:hover {
  opacity: 0.5;
}

.content-footer .logo-footer .logo-footer-content .imagen {
  fill: white;
  width: auto;
  height: 80px;
}

.content-footer .links-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 3 / span 3;
  gap: 1rem;
}

.content-footer .links-footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  grid-column: span 2/ span 2;
}

.icon-social-footer {
  width: auto;
  height: 2rem;
  fill: white;
}

.curse-icon-social-footer {
  width: auto;
  height: 1.5rem;
  fill: white;
}

.text-footer-content {
  grid-column: span 2/ span 2;
  text-align: center;
}

.text-footer-content .text-footer {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-top: 2px solid #6b7280;
  color: #6b7280;
}

@media (min-width: 768px) {
  .content-footer {
    max-width: 42rem;
  }

  .content-footer .title-footer-content {
    grid-column: span 1/ span 1;
  }

  .content-footer .logo-footer {
    grid-column: span 1/ span 1;
  }

  .content-footer .links-footer {
    grid-column: span 1/ span 1;
  }
}

@media (min-width: 1024px) {
  .content-footer {
    max-width: 56rem;
  }
}

@media (min-width: 1280px) {
  .content-footer {
    max-width: 64rem;
  }
}