<div class="container-installation">
  <p class="title-installation">Instalación</p>
  <h4 class="subtitle-installation">
    &bull; Local
  </h4>
  <div
    class="content-installation"
  >
    <div class="container-number">
      <div
        class="number"
      >
        <div class="background-number">
          <div class="color-back"></div>
        </div>
        <div
          class="number-text"
        >
          01
        </div>
      </div>
    </div>
    <div class="text-installation">
      <div>
        <p>
          Una vez descargado el complemento, simplemente ábrelo con Minecraft
          para importarlo. Los usuarios de dispositivos móviles podrían
          necesitar un explorador de archivos que permita abrir el complemento
          con Minecraft. Se recomiendan
          <a
            class="link-apps-installation"
            href="https://play.google.com/store/apps/details?id=com.cxinventor.file.explorer"
            >CX File Explorer</a
          > y
          <a
            class="link-apps-installation"
            href="https://itunes.apple.com/app/id364901807"
          >
            Documents para Android e iOS, respectivamente</a
          >.
        </p>
      </div>
    </div>

    <div class="container-number">
      <div
        class="number"
      >
        <div class="background-number">
          <div class="color-back"></div>
        </div>
        <div
          class="number-text"
        >
          02
        </div>
      </div>
    </div>
    <div class="text-installation">
      <div>
        <p>
          Si ya tienes la misma versión del complemento o una posterior
          importada, es posible que tengas que eliminar tanto el comportamiento
          como el paquete de recursos en [Settings/Storage]. En un mundo nuevo o
          ya existente, añade "WorldEdit" en [Behaviour Packs] y "WorldEdit
          [RES]" en [Resource Packs]. También habilita "API Beta" en
          [Experimental Features]. Crea o introduce el mundo y ¡ya puedes usar
          WorldEdit!.
        </p>
      </div>
    </div>
  </div>
  <h4 class="subtitle-installation">
    &bull; Servidor
  </h4>
  <div
    class="content-installation"
  >
    <div class="container-number">
      <div
        class="number"
      >
        <div class="background-number">
          <div class="color-back"></div>
        </div>
        <div
          class="number-text"
        >
          01
        </div>
      </div>
    </div>
    <div class="text-installation">
      <div>
        <p>
          Existe una versión independiente de WorldEdit diseñada para servidores
          dedicados (no confundir con Realms). Esta versión viene en formato
          zip. Debe instalarla según el servidor. Esta versión también incluye
          un archivo llamado [variables.json] que debe guardar en la
          config/default carpeta del servidor.
        </p>
      </div>
    </div>
  </div>
</div>
