---
import WarningIcon from "@icons/Warning.astro";

interface Props {
  title?: string;
  description?: string;
  colorTitle?: string;
  colorContent?: string;
}
const {
  title,
  description,
  colorTitle,
  colorContent,
} = Astro.props;

import '@styles/TableWarning.css'
---

<div class="container-table">
  <p
    style={`background-color: ${colorTitle};`}
    class="icon-table"
  >
    <WarningIcon />{title}
  </p>
  <p
    style={`background-color: ${colorContent};`}
    class="content-table"
  >
    {description}
  </p>
</div>
