---
import DiscordIcon from "@components/icons/Discord.astro";
import GithubIcon from "@components/icons/Github.astro";
---

<div class="Footer">
  <div class="content-footer">
    <section
      class="title-footer-content"
    >
      <h3 class="title-footer">WorldEdit: BE</h3>
      <p class="subtitle-footer">
        Documentación no oficial de WorldEdit Addon para Minecraft Bedrock Edition
      </p>
    </section>
    <section
      class="logo-footer"
    >
      <div class="logo-footer-content">
        <a href="/">
          <img
            class="imagen-blur"
            alt="WorldEdit: Bedrock Edition Icon Efecto"
            src="https://media.forgecdn.net/avatars/thumbnails/1168/806/256/256/638739766326639454.png"
          />
          <img
            class="imagen"
            alt="WorldEdit: Bedrock Edition Icon"
            src="https://media.forgecdn.net/avatars/thumbnails/1168/806/256/256/638739766326639454.png"
          />
        </a>
      </div>
    </section>
    <section class="links-footer">
      <div class="icons">
        <a href="https://discord.gg/pwVjUqSv4D">
          <DiscordIcon class="text-white icon-social-footer" />
        </a>
        <a href="https://github.com/SIsilicon/WorldEdit-BE">
          <GithubIcon class="text-white icon-social-footer" />
        </a>
        <a
          href="https://www.curseforge.com/minecraft-bedrock/scripts/worldedit-be-addon"
        >
          <img
            src="/src/components/icons/curseforge.webp"
            alt=""
            class="curse-icon-social-footer"
          />
        </a>
        <a href="https://mcpedl.com/worldedit-be-addon/">
          <img src="https://mcpedl.com/favicon.ico" alt="" class="icon-social-footer" />
        </a>
        <a href="https://modbay.org/mods/629-worldedit-be.html">
          <img
            src="https://modbay.org/templates/Modbay2/images/favicon.ico"
            alt=""
            class="icon-social-footer"
          />
        </a>
      </div>
      <div class="text-footer-content">
        <p class="text-footer">
          Descargas y Red social
        </p>
      </div>
    </section>
  </div>
</div>
