---
import HLink from "@components/HLink.astro";
import DiscordIcon from "@icons/Discord.astro";
import MenuIcon from "@icons/Menu.astro";
import CloseIcon from "@icons/Close.astro";
---

<header id="header-nav">
  <div class="content-logo">
    <a href="/">
      <img
        class="logo-blur"
        alt="WorldEdit: Bedrock Edition Icon Efecto"
        src="https://media.forgecdn.net/avatars/thumbnails/1168/806/256/256/638739766326639454.png"
      />
      <img
        class="logo"
        alt="WorldEdit: Bedrock Edition Icon"
        src="https://media.forgecdn.net/avatars/thumbnails/1168/806/256/256/638739766326639454.png"
      />
    </a>
  </div>
  <nav id="header-menu">
    <HLink href="/">INICIO</HLink>
    <HLink href="/quick_start">INICIO RÁPIDO</HLink>
    <HLink href="/document">DOCUMENTACIÓN</HLink>
    <HLink href="/capturas">CAPTURAS</HLink>

    <a href="#header-nav" class="close-icon">
      <CloseIcon />
    </a>
    <a
      href="https://discord.gg/pwVjUqSv4D"
      target="_blank"
      rel="nooper noreferrer"
      class="card social"
    >
      <div class="icon-content">
        <DiscordIcon class="icon-discord" />
      </div>
    </a>
  </nav>
  <a href="#header-menu" class="menu-icon"><MenuIcon /></a>
</header>

<style>
  @property --a {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .card {
    overflow: hidden;
    position: relative;
    border-radius: 45%;
    place-self: center;
    place-content: center;
    padding: 0.2em;
    color: #ededed;
    font: clamp(1em, 2vw + 2vh, 2em) sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-wrap: balance;
  }

  .card::before {
    position: absolute;
    z-index: -1;
    inset: 1px;
    border: solid 15px;
    border-image: conic-gradient(
        from var(--a),
        #d93e3b,
        #d93e3b,
        #00000000,
        #00000000,
        #00000000,
        #00000000
      )
      1;
    filter: blur(0.5em);
    animation: a 2s linear infinite;
    content: "";
  }

  @keyframes a {
    to {
      --a: 1turn;
    }
  }
</style>
