---
interface Props {
  checkActive?: boolean;
  href: string;
}

const {
  href,
  checkActive = true,
  ...restOfProps
} = Astro.props;

const currentPath = Astro.url.pathname;
const isActive = currentPath === href && checkActive;

import "@styles/HLink.css";
---

<a
  href={href}
  class:list={[
    isActive ? "Hlink-active" : "HLink-deactivated",
  ]}
  class="HLink"
  {...restOfProps}
>
  <slot />
</a>
