---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Instalacion"
  description="Guia de instalacion de WorldEdit: Bedrock Edition"
>

  <section class="relative">
    <h1 class="text-3xl font-bold text-center py-16">Guía de Instalación</h1>
    <p class="text-lg text-center mb-4">
      Sigue estos pasos para instalar WorldEdit: Bedrock Edition en tu
      dispositivo.
    </p>
    <ol class="list-decimal list-inside mx-auto max-w-2xl">
      <li>Descarga el archivo de instalación desde nuestro sitio web.</li>
      <li>Abre Minecraft Bedrock Edition.</li>
      <li>Ve a "Configuración" y luego a "Mundos".</li>
      <li>Selecciona "Importar" y elige el archivo descargado.</li>
      <li>Activa el complemento en tu mundo.</li>
      <li>¡Disfruta de las herramientas de WorldEdit!</li>
    </ol>
  </section>
</Layout>
