---
import Layout from "@layouts/Layout.astro";

import "@styles/Document.css";
---

<Layout
  title="Documentacion Completa"
  description="Guia de instalacion de WorldEdit: Bedrock Edition"
>
  <section class="container-document">
    <h1 class="title">Guía de Instalación</h1>
    <p class="description">
      Sigue estos pasos para instalar WorldEdit: Bedrock Edition en tu
      dispositivo.
    </p>
    <ol class="list">
      <li>Descarga el archivo de instalación desde nuestro sitio web.</li>
      <li>Abre Minecraft Bedrock Edition.</li>
      <li>Ve a "Configuración" y luego a "Mundos".</li>
      <li>Selecciona "Importar" y elige el archivo descargado.</li>
      <li>Activa el complemento en tu mundo.</li>
      <li>¡Disfruta de las herramientas de WorldEdit!</li>
    </ol>
  </section>
</Layout>
